<div class="jumbotron text-center">
    <h1>Finance Fate</h1>
    <h2>Can you see past your biases?</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <h2><u>Definitions:</u></h2>
        <p><strong>Balance</strong>: How much money a person has available in their account.</p>
        <p><strong>Credit Score</strong>: Ranging from 350-800, the higher the more trustworthy they are.</p>
        <p><strong>Risk Score</strong>: Ranging from 1-100, the higher the more risk there is in dealing with the person.</p>
        <p><strong>Credit Limit</strong>: The amount of money a financial institution lets someone borrow.</p>
        <p><strong>Product Type</strong>: Whether someones account is debit(money they own) or credit(money they borrow).</p>
        <p><strong>Location</strong>: Where that person lives.</p>
    </div>
    <div class="col-md-6">
        <h2><u>Rules:</u></h2>
        <p>You'll be presented with 2 different people's finance account information 
        with 1 of them having a number missing. You must then use this information to 
        figure out if the missing number for person 2 is Higher or Lower than person 
        1's. If you can't figure it out from the information given to you, hints are 
        available for use which show you information about a single transaction from
        the person</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p class="text-capitalize"><a class="btn btn-success btn-lg" href="/Game/new">Play</a></p>
    </div>
    <div class="col-md-6">
        <p class="text-capitalize"><a class="btn btn-success btn-lg" href="/Leaderboard">Leaderboard</a></p>
    </div>
</div>