<div class="jumbotron text-center">
    <h1 class="text-info">Design Page</h1>
</div>

<h1><u>General Overview & Tech Stack</u></h1>
<h4>
    This website was developed using a tech stack consisting of 
    HTML & CSS along with bootstrap for the front end. For the 
    back end we used C# in tandem with ASP.NET for controllers 
    while we used python to handle some API post requests. SQLite 
    was also used to handle databases of fake accounts that were 
    made using the APIs. We made use of the Currency Freak API to 
    convert from any currency to USD and the CapitalOne Developer
    API to generate fake finance accounts and related fake 
    transactions to go along with it. We also made use of cloud 
    computing to host this website.
</h4>

<h4>
    The workload was split with Will Jeynes working on the back 
    end while Ayyub Ameen and Ben Cannon worked on the front end.
</h4>
