<div class="jumbotron text-center">
    <h1 class="text-info">Home page</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2><u>Finance Fate</u></h2>
        <p>Click on the button below to play Finance Fate!</p>
    </div>
    <div class="col-md-4">
        <h2><u>Design page</u></h2>
        <p>Click on the button below to get brief overview of how this site was made.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <p><a class="btn btn-success btn-lg" href="/Game" data-toggle="tooltip" title="Finance Fate">Game</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-success btn-lg" href="/Design/" data-toggle="tooltip" title="Question page">Visit here</a></p>
    </div>
</div>